@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alpaca</h1>
    <h3>Portfolio Management</h3>
    <p class="lead">A Portfolio Management Tool for Professional IT Organizations</p>
</div>

